<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PlantSwap</title>
    <link rel="stylesheet" href="/style.css"/>
</head>

<body>
<%- include('./partials/head') %>

<main>
    <!------------ SECTION 1 KIJK LIVE MEE ------------>
    <section class="section-livestream">

        <div class="wrapper-livestream">


            <div class="responsive-livestream">
                <iframe class="responsive-iframe-livestream" src="https://www.youtube.com/embed/P5FfQ_nWrxo?start=39"
                        title="YouTube video player"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; fullscreen; picture-in-picture; sound-off;"></iframe>
            </div>

            <div class="par-watch-live">
                <h1>Kijk live mee met de stekjes kast!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

        </div>
    </section>

    <!------------ SECTION 2 HOE WERKT HET? ------------>
    <section class="section-how-does-it-works">

        <h2>Hoe werkt het?</h2>
        <div class="carousel-wrapper">
            <span id="item-1"></span>
            <span id="item-2"></span>
            <span id="item-3"></span>


            <div class="carousel-item item-1">
                <div class="flex-container-car-1">
                    <a href="#item-3" class="arrow-prev arrow"></a>
                    <a href="#item-2" class="arrow-next arrow"></a>
                    <div>
                        <img src="assets/carousel/plant-image-carousel.png">
                    </div>
                    <div>
                        <p>Kies een stekje uit de stekjeskast, en reserveer deze online via de website.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item item-2">
                <div class="flex-container-car-2">
                    <a href="#item-1" class="arrow-prev arrow"></a>
                    <a href="#item-3" class="arrow-next arrow"></a>
                    <div>
                        <img src="assets/carousel/trade-image-carousel.png">
                    </div>
                    <div>
                        <p>Neem een ander stekje mee, en ruil deze om bij de Buurtcampus Oost.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item item-3">
                <div class="flex-container-car-3">
                    <a href="#item-2" class="arrow-prev arrow"></a>
                    <a href="#item-1" class="arrow-next arrow"></a>
                    <div>
                        <img src="assets/carousel/jeej-image-carousel.png">
                    </div>
                    <div>
                        <p>Jeej! Bij deze heb je bijgedragen aan het tegen gaan van verspilling van planten.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!------------ SECTION 3 VISIE ------------>

    <!-- VOORKANT VISIE KAARTEN -->
    <section class="section-vision">
        <div class="flex-container-vision">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div>
                            <img src="assets/vision/heartbeat.png">
                        </div>
                        <div>
                            <p>Vitaliteit</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <p>De studenten van Buurtcampus Oost werken samen met bewoners en organisaties uit de buurt aan
                            het realiseren van de klimaatambities van Amsterdam samen met de buurtbewoners.</p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div>
                            <img src="assets/vision/support.png">
                        </div>
                        <div>
                            <p>Samenwerken</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <p>De studenten van Buurtcampus Oost werken samen met bewoners en organisaties uit de buurt aan
                            het realiseren van de klimaatambities van Amsterdam samen met de buurtbewoners.</p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div>
                            <img src="assets/vision/planet-earth.png">
                        </div>
                        <div>
                            <p>Duurzaamheid</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <p>De studenten van Buurtcampus Oost werken samen met bewoners en organisaties uit de buurt aan
                            het realiseren van de klimaatambities van Amsterdam samen met de buurtbewoners.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<%- include('./partials/foot') %>
</body>

<!--LINK TO JS FILE -->
<script src="/index.js"></script>